:root {
  --main-bg-color: #fff;
  --second-bg-color: #2f303a;
  --main-text-color: #212121;
  --hover-color: #2196f3;
  --logo-studio-color: #000000;
  --second-text-color: #ffffff;
  --button-active-bg-color: #188cf8;
  --p-color: #757575;
  --third-bg-color: #f5f4fa;
  --potfolio-bg-color: #eeeeee;
  --project-bg-color: #f5f5f5;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --transition-duration: 250ms;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
