.footer {
  background-color: var(--second-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 100%;
  margin: 0 auto;
  &__container {
    text-align: center;
  width: 100%;
  margin-bottom: 60px;
  
  @include tablet {
    width: 50%;
    margin-right: auto;
  }
  @include desktop {
    width: 100%;
    text-align: left;
    margin-bottom: 0;
  }
}
}
.first-footer {
   display: flex;
    flex-wrap: wrap;
    @include desktop {
      flex-wrap: nowrap;
      align-items: baseline;
    }
  }
.adress {
  margin-top: 20px;
  @include desktop{
    margin-right: 70px;
  }
  &__list {
    @include desktop {
      margin-bottom: 0;
    }
  }
  &__link {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--second-text-color);
    &:hover,
    &:focus {
      color: var(--hover-color);
    }
  }
  &__item {
    margin-bottom: 8px;
    &:not(last-child) {
      margin-bottom: 9px;
    }
  }
  &__contacts {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.02em;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: var(--contacts-color);
    &:hover,
    &:focus {
      color: var(--hover-color);
    }
    & :current {
      color: var(--hover-color);
    }
  }
}
.footer-social {
  text-align: center;
  width: 100%;
  margin-bottom: 60px;
  @include tablet {
    width: 50%;
    margin-left: auto;
  }
  @include desktop {
    margin-bottom: 0;
    margin-right: 93px;
    text-align: left;
  }
  &__header {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    gap: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: var(--hover-color);
    }
  }
  &__icons {
    fill: var(--second-text-color);
  }
}
.footer-input {
  width: 100%;
  text-align: center;
  @include desktop{
    margin-left: auto;
    text-align: left;
  }
  &__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-text-color);
    @include desktop {
      text-align: left;
    }
  }
  &__container {
    @include desktop {
      display: flex;
    }
  }
  &__container input {
    padding-left:  16px;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: inherit;
    outline: transparent;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: var(--second-text-color);
    @include tablet {
      width: 450px;
    }
    @include desktop {
      width: 358px;
      margin-right: 12px;
      margin-bottom: 0;
    }
  }
  &__button {
    gap: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--hover-color);
    border-radius: 4px;

    color: var(--second-text-color);
    transition: background-color var(--transition-duration) var(--cubic-bezier);
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: var(--button-active-bg-color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  }
  &__icons {
    fill: var(--second-text-color);
  }
}
