.logo {
  color: var(--hover-color);
}

.logo-link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--logo-studio-color);
    @include tablet {
    margin-right: 88px;
  }
  
  @include desktop{
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}
.footer__logo {
  display: block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
